*{
  margin: 0;
  padding: 0;

}



ul li{
  list-style: none;
  float: left;
  line-height: 40px;
  padding-top: 20px;


}

.imgenn{

    background-image: url('be.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.imgenn2{

    background-image: url('hi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo{

  color: white;
  font-size: 29px;
  padding: 0 40px;
  font-variant-caps: all-small-caps;
  font-family: system-ui;
  font-weight: lighter;
  padding-top: 15px;
  text-shadow: 1px 1px 2px silver, 0 0 1em silver, 0 0 0.2em silver, 1px 1px 2px silver;
}

ul li a{
  font-family: system-ui;
  text-decoration: none;
  font-size: 17px;
  padding: 0 70px;

  color: white;
  transition: 0.8s all
}

.intro{
  color:blue;
}

ul li a:hover{

   color: red;
   text-decoration: underline;
}




ul li.head2{
  font-size: 40px;
  padding-top: 20px;
  font-weight:bold;
  font-family: sans-serif;
  color: white;
  padding-left: 40px;
  text-decoration: underline;
}
.head3{
  font-size: 40px;
  padding-top: 20px;
  font-weight:bold;
  font-family: sans-serif;
  color: black;
  padding-left: 40px;
  text-decoration: underline;
}
.container6{
   display: flex;
   align-items: flex-start;


}

.container222{
   display: flex;
   align-items: flex-start;
   float: left;


}

.container333{
   display: flex;
   align-items: flex-start;
   float: left;


}

.container2323{
   display: flex;
   align-items: flex-start;
   float: left;


}

.container9898{
   display: flex;
   align-items: flex-start;
   float: left;


}

.container446{
  height: 100px;
  background: black;
}

.container76{
  display: flex;
  align-items: flex-start;
  height: 300px;
  background: black;

}

.container67{
  display: flex;
  align-items: flex-start;
  height: 300px;
  background: black;

}


.text55{
  padding-top: 40px;
  font-family: system-ui;
  font-size: 60px;
  padding-left: 80px;
  color: white;
}
.image5{
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 80px;
}
.text77 a{
  color: white;
  font-size: 20px;
  padding-top: 90px;
  padding-right: 30px;
  font-family: system-ui;
  text-decoration: underline;

}



.text77 a:hover{
  color: blue;
}

.image9{
  padding-top: 90px;
  padding-left: 20px;
}

.image8{
  padding-right: 80px;
  padding-top: 90px;
  padding-left: 20px;
}

.image78{

  padding-top: 90px;
  padding-left: 20px;
}

.text66 a{
  color: white;
  font-size: 20px;
  padding-top: 90px;
  padding-right: 30px;
  font-family: system-ui;
  text-decoration: underline;
  padding-left: 30px;

}

.text66 a:hover{
  color: blue;
}


.container46{
   display: flex;
   align-items: flex-start;

}

.text26{
  padding-top: 50px;
  font-size: 30px;
  font-weight:bold;
  font-family: sans-serif;
  color: white;
}

.text46{
  padding-top: 50px;
  font-size: 30px;
  font-weight:bold;
  font-family: sans-serif;
  color: black;
}

.image46{
  padding-left: 40px;
}

ul li.text6{

  color: white;
  padding-top: 20px;
  padding: 0 10px;
  font-size:15px;
  font-weight: lighter;
  font-family: sans-serif;
  padding-right: 40px;
  padding-left: 40px;

}
.intro{
  font-size: 42px;
  color:white;

  padding-left: 470px;
  font-family: system-ui;

}

.text24{
  padding-top: 20px;
  padding: 0 10px;
  font-size:60px;
  padding-left:20px;
  font-family: system-ui;
  padding-right: 20px;


}



  .text78{
    padding-top: 20px;
    padding: 0 10px;
    font-size:60px;
    padding-left:20px;
    font-family: system-ui;
    padding-right: 20px;
    padding-left: 40px;
    color: white;

}

.textr78{
  padding-top: 20px;
  padding: 0 10px;
  font-size:36px;
  padding-left:20px;
  font-family: system-ui;
  padding-right: 20px;
  padding-left: 40px;
  color: white;

}



.text25{
  padding-top: 20px;
  padding: 0 10px;
  font-size:60px;
  padding-left:20px;
  font-family: system-ui;
  padding-right: 20px;
  color: white;

}

.text29{
  padding-top: 20px;
  padding: 0 10px;
  font-size:60px;
  padding-left:20px;
  font-family: system-ui;
  padding-right: 20px;

}

.text22{
  padding-top:20px;
  padding: 0 10px;
  font-size:23px;
  font-weight: lighter;
  font-family: sans-serif;
  padding-right: 20px;
  padding-left: 20px;
}

.text23{
  padding-top:20px;
  padding: 0 10px;
  font-size:23px;
  font-weight: lighter;
  font-family: sans-serif;
  padding-right: 20px;
  color:white;
  padding-left: 20px;
}

.text28{
  padding-top:20px;
  padding: 0 10px;
  font-size:23px;
  font-weight: lighter;
  font-family: sans-serif;
  padding-right: 20px;
  padding-left:20px;

}


ul li.text{

  color: white;
  padding-top: 20px;
  padding: 0 10px;
  font-size:24px;
  font-weight: lighter;
  font-family: sans-serif;
  padding-right: 40px;
  padding-left: 40px;

}

.text36{
  color: black;
  padding-top: 20px;
  padding: 0 10px;
  font-size:17px;
  font-weight: lighter;
  font-family: sans-serif;
  padding-right: 40px;
  padding-left: 40px;

}



.main{

  color: white;
  font-size: 28px;
  font-weight: lighter;
  font-family: sans-serif;
  padding: 0 100px;
}


.imge{
  position: absolute;
  float: right;
  padding-left: 0px;
}


.pho{
  position: absolute;
  float: right;
}

.princ{
  padding: 0 190px;
  font-family: monospace;
  font-size: 32px;
  color: white;
}

.pric2{
  padding: 0 100px;
  font-family: sans-serif;
  font-size: 28px;
  color: black;
}

.cont{
  font-family: monospace;
  font-size: 25px;
}

.container{

  height: 700px;
  background: #253342;
}

.bnry{
  float: right;
}

.text2{
    padding: 0 100px;
    font-size: 45px;
    color: white;
    font-family: sans-serif;

}

.pric3{
  padding: 0 100px;
  font-family: sans-serif;
  font-size: 45px;
  color: black;
}

.imgen{
  padding: 0 180px;

}

.container{
  height: 160px;
  background: #212122;

}

.fonte{
  color: white;
  padding: 0 440px;
  font-family: sans-serif;
  font-size: 15px;
}

.container36{
  height: 970px;
  background: white;

}

.container3{
  height: 600px;
  background: white;

}

.container22{
  height: 700px;
  background: white;

}


.container23{
  height: 700px;
  background: black;
}

.container27{
  height: 580px;
  background: white;
}

.main-content {
    text-align: center;
    padding: 50px;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
}

.explore-button {
    display: inline-block;
    background-color: #31569f;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #274b86;
}

@media only screen and (max-width: 600px) {

  ul li{
    list-style: none;
    float: left;
    line-height: 40px;
    padding-top: 20px;


  }

  .imgenn{

      background-image: url('mkk.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

  }

  .logo{

    color: white;
    font-size: 15px;
    padding: 0 40px;
    font-variant-caps: all-small-caps;
    font-family: system-ui;
    font-weight: lighter;
    padding-top: 15px;
    text-shadow: 1px 1px 2px silver, 0 0 1em silver, 0 0 0.2em silver, 1px 1px 2px silver;
  }

  ul li a{
    font-family: system-ui;
    text-decoration: none;
    font-size: 11px;
    padding: 0 70px;

    color: white;
    transition: 0.8s all
  }

  ul li a:hover{

     color: red;
     text-decoration: underline;
  }




  ul li.head2{
    font-size: 20px;
    padding-top: 10px;
    font-weight:bold;
    font-family: sans-serif;
    color: white;
    padding-left: 10px;
    text-decoration: underline;
  }
  .head3{
    font-size: 40px;
    padding-top: 20px;
    font-weight:bold;
    font-family: sans-serif;
    color: black;
    padding-left: 40px;
    text-decoration: underline;
  }


  .text26{
    padding-top: 50px;
    font-size: 30px;
    font-weight:bold;
    font-family: sans-serif;
    color: white;
  }

  .text46{
    padding-top: 50px;
    font-size: 30px;
    font-weight:bold;
    font-family: sans-serif;
    color: black;
  }


  .intro{
    font-size: 18px;
    color:white;

    padding-left: 470px;
    font-family: system-ui;

  }

  .text24{
    padding-top: 20px;
    padding: 0 10px;
    font-size:20px;
    padding-left:20px;
    font-family: system-ui;
    padding-right: 20px;

  }



  .text25{
    padding-top: 20px;
    padding: 0 10px;
    font-size:20px;
    padding-left:20px;
    font-family: system-ui;
    padding-right: 20px;
    color: white;

  }

  .text29{
    padding-top: 20px;
    padding: 0 10px;
    font-size:20px;
    padding-left:20px;
    font-family: system-ui;
    padding-right: 20px;

  }

  .text22{
    padding-top:20px;
    padding: 0 10px;
    font-size:12px;
    font-weight: lighter;
    font-family: sans-serif;
    padding-right: 20px;
    padding-left: 20px;
  }

  .text23{
    padding-top:20px;
    padding: 0 10px;
    font-size:12px;
    font-weight: lighter;
    font-family: sans-serif;
    padding-right: 20px;
    color:white;
    padding-left: 20px;
  }

  .text28{
    padding-top:20px;
    padding: 0 10px;
    font-size:12px;
    font-weight: lighter;
    font-family: sans-serif;
    padding-right: 20px;
    padding-left:20px;

  }


  ul li.text{

    color: white;
    padding-top: 20px;
    padding: 0 10px;
    font-size:24px;
    font-weight: lighter;
    font-family: sans-serif;
    padding-right: 40px;
    padding-left: 40px;

  }

  .text36{
    color: black;
    padding-top: 20px;
    padding: 0 10px;
    font-size:17px;
    font-weight: lighter;
    font-family: sans-serif;
    padding-right: 40px;
    padding-left: 40px;

  }



  .main{

    color: white;
    font-size: 28px;
    font-weight: lighter;
    font-family: sans-serif;
    padding: 0 100px;
  }


  .imge{
    position: absolute;
    float: right;
    padding-left: 0px;
  }


  .pho{
    position: absolute;
    float: right;
  }

  .princ{
    padding: 0 190px;
    font-family: monospace;
    font-size: 32px;
    color: white;
  }

  .pric2{
    padding: 0 100px;
    font-family: sans-serif;
    font-size: 28px;
    color: black;
  }

  .cont{
    font-family: monospace;
    font-size: 25px;
  }

  .container{

    height: 700px;
    background: #253342;
  }

  .bnry{
    float: right;
  }

  .text2{
      padding: 0 100px;
      font-size: 45px;
      color: white;
      font-family: sans-serif;

  }

  .pric3{
    padding: 0 100px;
    font-family: sans-serif;
    font-size: 45px;
    color: black;
  }

  .imgen{
    padding: 0 180px;

  }

  .container{
    height: 160px;
    background: #212122;

  }

  .fonte{
    color: white;
    padding: 0 440px;
    font-family: sans-serif;
    font-size: 15px;
  }

  .container36{
    height: 970px;
    background: white;

  }

  .container3{
    height: 600px;
    background: white;

  }

  .container22{
    height: 700px;
    background: white;

  }


  .container23{
    height: 700px;
    background: black;
  }

  .container27{
    height: 580px;
    background: white;
  }

  }
}

